/*
 * General styles
 */
body {
  background: #222;
  color: #eee;
  font: 12pt/16pt 'Droid Sans', Arial, sans-serif;
  font-weight: 400;
  text-align: center;
}
h1 {
  font-weight: 300;
  font-size: 36pt;
  line-height: 48pt;
}
input,
button {
  box-sizing: border-box;
  font: inherit;
  border-radius: 3px;
  border: 1px solid #aaa;
  padding: 5px;
  background: #eee;
  background: rgba(255, 255, 255, 0.8);
  margin: 3px 0;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -ms-transition: all 200ms;
  transition: all 200ms;
}
input:focus {
  outline: none;
  background: #fff;
  box-shadow: 0 0 7px rgba(173, 255, 0, 0.6);
}
button {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  cursor: pointer;
  color: #eee;
  border-color: #2b5c2b;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9ImdyYWQtdWNnZy1nZW5lcmF0ZWQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2YTMzYSIgc3RvcC1vcGFjaXR5PSIxIi8+PHN0b3Agb2Zmc2V0PSI5MyUiIHN0b3AtY29sb3I9IiM0NDg3M2YiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzMxNzczNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
  background-image: -moz-linear-gradient(top, #66a33a 0%, #44873f 93%, #317735 100%);
  background-image: -webkit-linear-gradient(top, #66a33a 0%, #44873f 93%, #317735 100%);
  background-image: -o-linear-gradient(top, #66a33a 0%, #44873f 93%, #317735 100%);
  background-image: linear-gradient(top, #66a33a 0%, #44873f 93%, #317735 100%);
}
button:active {
  box-shadow: 0 1px 4px rgba(27, 27, 27, 0.6) inset;
  border-color: rgba(39, 44, 39, 0.64);
  color: #ddd;
}
#mapbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: left 200ms;
}
#mapbox .map {
  width: 100%;
  height: 100%;
}
/*
 * Plan form screen
 */
.screen-plan-form {
  width: 500px;
  margin: 80px auto 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  text-align: center;
  -webkit-transform: translateZ(2px);
  overflow: hidden;
}
.screen-plan-form .main {
  padding: 30px 10px 10px;
}
.screen-plan-form h1 {
  line-height: 1;
  font-size: 18pt;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
  color: #ececec;
  margin: 50px 0 5px 0;
}
.screen-plan-form input.address {
  width: 100%;
}
.screen-plan-form ul.autocomplete {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 3px;
  background: #ddd;
  overflow: hidden;
  text-align: left;
}
.screen-plan-form ul.autocomplete li {
  padding: 5px;
  border-bottom: 1px solid #bbb;
  cursor: pointer;
  color: #456;
}
.screen-plan-form ul.autocomplete li:hover,
.screen-plan-form ul.autocomplete li.selected {
  background: #fff;
}
.screen-plan-form ul.autocomplete li:last-child {
  border-bottom: 0;
}
.screen-plan-form .loading .message {
  padding: 10px;
}
.screen-plan-form .loading .progress {
  height: 10px;
  background: #9fd856;
  -webkit-transition: width 400ms;
  -moz-transition: width 400ms;
  -o-transition: width 400ms;
  -ms-transition: width 400ms;
  transition: width 400ms;
  width: 5%;
}
/*
 * Places screen
 */
.screen-places {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  color: #444;
  width: 300px;
  text-align: left;
  overflow: hidden;
  border-left: 1px solid #aaa;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  -webkit-transition: -webkit-transform 200ms;
  -moz-transition: -moz-transform 200ms;
  -o-transition: -o-transform 200ms;
  -ms-transition: -ms-transform 200ms;
  transition: transform 200ms;
  -webkit-transform: translateZ(0) translateX(-305px);
}
.screen-places.show {
  -webkit-transform: translateX(0);
}
.screen-places .col1,
.screen-places .col2 {
  width: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  background: #eaeaea;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: left 200ms;
  -moz-transition: left 200ms;
  -o-transition: left 200ms;
  -ms-transition: left 200ms;
  transition: left 200ms;
}
.screen-places .col1 {
  left: 0;
}
.screen-places .col2 {
  left: 300px;
  border-left: 1px solid #bbb;
}
.screen-places .col2.show {
  left: -1px;
}
.screen-places .col2 .notice {
  padding: 10px;
  font-size: 10pt;
  color: #888;
}
.screen-places .col2 div.info {
  padding: 10px;
  position: relative;
}
.screen-places .col2 div.info .marker {
  display: inline-block;
  font-size: 10pt;
  font-weight: 700;
  padding: 5px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  min-width: 20px;
  height: 20px;
  line-height: 1.6;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
  margin: -3px 6px 10px 0;
  position: absolute;
  left: 10px;
  top: 32px;
}
.screen-places .col2 div.info .type {
  text-transform: uppercase;
  color: #888;
  font-size: 10pt;
  line-height: 1.6;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 220px;
  overflow: hidden;
  display: inline-block;
  margin-left: 38px;
}
.screen-places .col2 div.info .address {
  font-size: 12pt;
  margin-left: 38px;
  color: #555;
}
.screen-places .col2 div.info h2 {
  margin: 0;
  margin-left: 38px;
  font-size: 14pt;
}
.screen-places .col2 .photos .photo {
  width: 33%;
  float: left;
}
.screen-places .col2 .directions,
.screen-places .col2 .directions-header {
  clear: both;
  padding: 10px 10px 0 10px;
}
.screen-places .col2 .directions {
  padding-top: 5px;
}
.screen-places .col2 .directions-header small {
  display: block;
  color: #666;
}
.screen-places .col2 .directions-header a {
  cursor: pointer;
}
.screen-places .col2 .directions-header a:hover {
  text-decoration: underline;
}
.screen-places .controls-top {
  float: right;
  margin: 5px 10px 5px 5px;
}
.screen-places .controls-top i {
  margin-left: 10px;
  cursor: pointer;
}
.screen-places .controls-top i:hover {
  color: #699e6b;
}
.screen-places h1 {
  color: #aaa;
  border-bottom: 1px solid #aaa;
  margin: 0;
  padding: 10px;
  font-size: 12pt;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}
.screen-places h1 a {
  color: #555;
  cursor: pointer;
}
.screen-places h1 a:hover {
  color: #699e6b;
}
.screen-places h1 i {
  font-size: 8pt;
}
.screen-places .marker.hotel {
  background: #fff;
  color: #111 !important;
  text-shadow: none !important;
}
.screen-places li:nth-child(1) .marker,
.screen-places .marker.idx1 {
  background: #74b422;
}
.screen-places li:nth-child(2) .marker,
.screen-places .marker.idx2 {
  background: #E66711;
}
.screen-places li:nth-child(3) .marker,
.screen-places .marker.idx3 {
  background: #E25353;
}
.screen-places li:nth-child(4) .marker,
.screen-places .marker.idx4 {
  background: #9761A2;
}
.screen-places li:nth-child(5) .marker,
.screen-places .marker.idx5 {
  background: #4967C7;
}
.screen-places li:nth-child(6) .marker,
.screen-places .marker.idx6 {
  background: #1DA2AD;
}
.screen-places li:nth-child(7) .marker,
.screen-places .marker.idx7 {
  background: #42a777;
}
.screen-places ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.screen-places ul li {
  border-bottom: 1px solid #aaa;
  clear: both;
  position: relative;
}
.screen-places ul li div.info {
  padding: 10px;
  cursor: pointer;
}
.screen-places ul li div.info:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
}
.screen-places ul li div.info .type {
  text-transform: uppercase;
  color: #888;
  font-size: 10pt;
  line-height: 1.6;
  margin-left: 38px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 220px;
  overflow: hidden;
  display: inline-block;
}
.screen-places ul li div.info .address {
  font-size: 12pt;
  color: #555;
  margin-left: 38px;
}
.screen-places ul li div.info h2 {
  margin: 0;
  margin-left: 38px;
  font-size: 14pt;
}
.screen-places ul li:hover {
  background: #fff;
}
.screen-places ul li:hover .controls {
  display: block;
}
.screen-places ul li .marker {
  display: inline-block;
  font-size: 10pt;
  font-weight: 700;
  padding: 5px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  min-width: 20px;
  height: 20px;
  line-height: 1.6;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
  margin: -3px 6px 10px 0;
  position: absolute;
  left: 10px;
  top: 32px;
}
.screen-places ul li .controls {
  position: absolute;
  right: 5px;
  top: 13px;
  bottom: 0;
  width: 20px;
  text-align: center;
  display: none;
  color: #999;
}
.screen-places ul li .controls span.control {
  display: block;
  cursor: pointer;
}
.screen-places ul li .controls span.control i {
  display: block;
  margin-bottom: 15px;
}
.screen-places ul li .controls span.control:hover {
  color: #699e6b;
}
.screen-places ul li .controls span.control:hover .icon-remove {
  color: #f56754;
}
