@import "lesshat.less";

/*
 * General styles
 */

body {
    background: #222;
    color: #eee;
    font: 12pt/16pt 'Droid Sans', Arial, sans-serif;
    font-weight: 400;
    text-align: center;
}

h1 {
    font-weight: 300;
    font-size: 36pt;
    line-height: 48pt;
}

input, button {
    box-sizing: border-box;
    font: inherit;
    border-radius: 3px;
    border: 1px solid #aaa;
    padding: 5px;
    background: #eee;
    background: rgba(255, 255, 255, 0.8);
    margin: 3px 0;

    .transition(~"all 200ms");

}

input {
    &:focus {
        outline: none;
        background: #fff;
        box-shadow: 0 0 7px rgba(173, 255, 0, 0.6);
    }
}

button {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    cursor: pointer;
    color: #eee;
    border-color: rgb(43, 92, 43);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);

    .gradient(~"linear-gradient(top, #66a33a 0%, #44873f 93%, #317735 100%)");

    &:active {
        box-shadow: 0 1px 4px rgba(27, 27, 27, 0.6) inset;
        border-color: rgba(39, 44, 39, 0.64);
        color: #ddd;
    }
}

#mapbox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: left 200ms;

    .map {
        width: 100%;
        height: 100%;
    }
}

/*
 * Plan form screen
 */

.screen-plan-form {
    width: 500px;
    margin: 80px auto 0;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
    text-align: center;
    -webkit-transform: translateZ(2px);
    overflow: hidden;

    .main {
        padding: 30px 10px 10px;
    }

    h1 {
        line-height: 1;
        font-size: 18pt;
        text-align: center;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
        color: #ececec;
        margin: 50px 0 5px 0;
    }

    input.address {
        width: 100%;
    }

    ul.autocomplete {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        border-radius: 3px;
        background: #ddd;
        overflow: hidden;
        text-align: left;

        li {
            padding: 5px;
            border-bottom: 1px solid #bbb;
            cursor: pointer;
            color: #456;

            &:hover, &.selected {
                background: #fff;
            }

            &:last-child {
                border-bottom: 0;
            }
        }
    }

    .loading {
        .message {
            padding: 10px;
        }

        .progress {
            height: 10px;
            background: rgb(159, 216, 86);
            .transition(~"width 400ms");
            width: 5%;
        }
    }
}

/*
 * Places screen
 */

.screen-places {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    color: #444;
    width: 300px;
    text-align: left;
    overflow: hidden;
    border-left: 1px solid #aaa;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
    .transition(~"transform 200ms");
    -webkit-transform: translateZ(0) translateX(-305px);

    &.show {
        -webkit-transform: translateX(0);
    }

    .col1, .col2 {
        width: 300px;
        position: absolute;
        top: 0;
        bottom: 0;
        background: #eaeaea;
        overflow-x: hidden;
        overflow-y: auto;
        .transition(~"left 200ms");
    }

    .col1 {
        left: 0;
    }

    .col2 {
        left: 300px;
        border-left: 1px solid #bbb;

        &.show {
            left: -1px;
        }

        .notice {
            padding: 10px;
            font-size: 10pt;
            color: #888;
        }

        div.info {
            padding: 10px;
            position: relative;

            .marker {
                display: inline-block;
                font-size: 10pt;
                font-weight: 700;
                padding: 5px;
                color: #fff;
                border-radius: 50px;
                text-align: center;
                min-width: 20px;
                height: 20px;
                line-height: 1.6;
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
                margin: -3px 6px 10px 0;
                position: absolute;
                left: 10px;
                top: 32px;
            }

            .type {
                text-transform: uppercase;
                color: #888;
                font-size: 10pt;
                line-height: 1.6;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 220px;
                overflow: hidden;
                display: inline-block;
                margin-left: 38px;
            }

            .address {
                font-size: 12pt;
                margin-left: 38px;
                color: #555;
            }

            h2 {
                margin: 0;
                margin-left: 38px;
                font-size: 14pt;
            }
        }

        .photos {
            .photo {
                width: 33%;
                float: left;
            }
        }

        .directions, .directions-header {
            clear: both;
            padding: 10px 10px 0 10px;
        }

        .directions {
            padding-top: 5px;
        }

        .directions-header {
            small {
                display: block;
                color: #666;
            }

            a {
                cursor: pointer;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    .controls-top {
        float: right;
        margin: 5px 10px 5px 5px;

        i {
            margin-left: 10px;
            cursor: pointer;

            &:hover {
                color: rgb(105, 158, 107);
            }
        }
    }

    h1 {
        color: #aaa;
        border-bottom: 1px solid #aaa;
        margin: 0;
        padding: 10px;
        font-size: 12pt;
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;

        a {
            color: #555;
            cursor: pointer;

            &:hover {
                color: rgb(105, 158, 107);
            }
        }

        i {
            font-size: 8pt;
        }
    }

    .marker.hotel { background: #fff; color: #111 !important; text-shadow: none !important; }
    li:nth-child(1) .marker, .marker.idx1 { background: rgb(116, 180, 34); }
    li:nth-child(2) .marker, .marker.idx2 { background: #E66711; }
    li:nth-child(3) .marker, .marker.idx3 { background: #E25353; }
    li:nth-child(4) .marker, .marker.idx4 { background: #9761A2; }
    li:nth-child(5) .marker, .marker.idx5 { background: #4967C7; }
    li:nth-child(6) .marker, .marker.idx6 { background: #1DA2AD; }
    li:nth-child(7) .marker, .marker.idx7 { background: #42a777; }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            border-bottom: 1px solid #aaa;
            clear: both;
            position: relative;

            div.info {
                padding: 10px;
                cursor: pointer;

                &:active {
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) inset;
                }

                .type {
                    text-transform: uppercase;
                    color: #888;
                    font-size: 10pt;
                    line-height: 1.6;
                    margin-left: 38px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: 220px;
                    overflow: hidden;
                    display: inline-block;
                }

                .address {
                    font-size: 12pt;
                    color: #555;
                    margin-left: 38px;
                }

                h2 {
                    margin: 0;
                    margin-left: 38px;
                    font-size: 14pt;
                }
            }

            &:hover {
                background: #fff;

                .controls {
                    display: block;
                }
            }

            .marker {
                display: inline-block;
                font-size: 10pt;
                font-weight: 700;
                padding: 5px;
                color: #fff;
                border-radius: 50px;
                text-align: center;
                min-width: 20px;
                height: 20px;
                line-height: 1.6;
                text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6);
                margin: -3px 6px 10px 0;
                position: absolute;
                left: 10px;
                top: 32px;
            }

            .controls {
                position: absolute;
                right: 5px;
                top: 13px;
                bottom: 0;
                width: 20px;
                text-align: center;
                display: none;
                color: #999;

                span.control {
                    display: block;
                    cursor: pointer;

                    i {
                        display: block;
                        margin-bottom: 15px;
                    }

                    &:hover {
                        color: rgb(105, 158, 107);
                    }

                    &:hover .icon-remove {
                        color: rgb(245, 103, 84);
                    }
                }
            }
        }
    }
}
