<!DOCTYPE html>
<html>
    <head>
        <title>Daytripper</title>

        <script src="/js/lib/lodash.min.js"></script>
        <script src="/js/lib/jquery.min.js"></script>
        <script src="/js/lib/angular.min.js"></script>

        <script src="/js/app.js"></script>
        <script src="/js/services/addresses.js"></script>
        <script src="/js/services/map.js"></script>
        <script src="/js/services/matrix.js"></script>
        <script src="/js/services/foursquare.js"></script>
        <script src="/js/services/places.js"></script>
        <script src="/js/services/progress.js"></script>

        <!--
        <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700"
              rel="stylesheet" type="text/css">
        -->
        <link rel="stylesheet" href="/css/main.css">

        <script type="text/javascript"
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAL6tNRApDGQihPX6SpknMeTVedwGwVJ9g&sensor=false">
        </script>

        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    </head>
    <body ng-app="app">
        <div id="mapbox">
            <div class="map"></div>
        </div>
        <div class="screen-plan-form" ng-controller="PlanFormController">
            <div class="main" ng-show="!loading">
                <h1>Where are you staying?</h1>

                <input type="text" placeholder="Address" class="address" ng-model="addressInput">

                <button ng-hide="addresses.list.length > 0 || !places.hotel"
                        ng-click="startPlanning()">Plan my day</button>

                <ul class="autocomplete" ng-show="addresses.list.length > 0">
                    <li ng-repeat="address in addresses.list"
                        ng-click="setAddress(address, 1)"
                        ng-class="{ selected: (addresses.selected == address) }">
                    {{ address.formatted_address }}
                    </li>
                </ul>
            </div>
            <div class="loading" ng-hide="!loading">
                <div class="message">Planning your day in {{ places.hotel | addr_part:'locality'  }}...</div>
                <div class="progress"></div>
            </div>
        </div>

        <div class="screen-places" ng-controller="PlacesController">
            <div class="controls-top">
                <i class="icon-reply" ng-click="resetPlaces()"></i>
                <i class="icon-refresh" ng-click="refreshPlaces()"></i>
            </div>
            <h1>Places</h1>
            <ul>
                <li ng-repeat="place in places.list">
                    <div class="info" ng-click="placeInfo(place)">
                        <span class="type">{{ place.categories[0].name }}</span>
                        <h2>
                            <span class="marker">{{ ($index + 1) }}</span>
                            {{ place.name }}
                        </h2>
                        <span class="address">{{ place.location.address }}</span>
                    </div>
                    <div class="controls">
                        <span class="control">
                            <i class="icon-remove" ng-click="removePlace(place)"></i>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>
