<!doctype html>
<html>
    <head>
        <title>Trip plannr</title>

        <script src="/js/lib/lodash.min.js"></script>
        <script src="/js/lib/jquery.min.js"></script>
        <script src="/js/lib/angular.min.js"></script>

        <script src="/js/app.js"></script>
        <script src="/js/services/addresses.js"></script>

        <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body ng-app="app">
        <div class="screen-plan-form" ng-controller="PlanForm">
            <h1>Where are you staying?</h1>

            <input type="text" placeholder="Address" class="address" ng-model="currentAddress">

            <ul class="autocomplete">
                <li ng-repeat="address in addresses.list"
                    ng-click="setAddress(address)"
                    ng-class="{ selected: (addresses.selected == address) }">
                {{ address }}
                </li>
            </ul>
        </div>
    </body>
</html>
